name: Linting

on:
  - pull_request

jobs:
  lint:
    strategy:
      matrix:
        go-version:
          - 1.18
        os:
          - ubuntu-22.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install revive
        run: go install github.com/mgechev/revive@v1.3.9

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Linting
        run: revive -config $GITHUB_WORKSPACE/revive_config.toml -set_exit_status ./...
