name: Testing

on:
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - 1.23
        os:
          - ubuntu-22.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Set up ssh agent
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.CICD_RSA_KEY }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: |
          git config --global url."git@github.com:axelarnetwork".insteadOf https://github.com/axelarnetwork
          go test ./...
